# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib/

# Executables
*.exe
*.out
*.app
.vs/
imgui.ini
3dgp/x64/Debug/3dgp.exp
x64/
*.cod
*.cso
Data/Models/pink_pudding/scene.cereal
Data/Environment/Sky/Night2/diffuse_iem.dds
Data/Environment/Sky/Night2/lut_charlie.dds
Data/Environment/Sky/Night2/lut_ggx.dds
Data/Environment/Sky/Night2/lut_sheen_e.dds
Data/Environment/Sky/Night2/sheen_pmrem.dds
Data/Environment/Sky/Night2/skybox.dds
Data/Environment/Sky/Night2/specular_pmrem.dds
Data/Log/
